@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500;600;700&family=Poppins:wght@300;400;600;700&display=swap');
body{
    font-family: "poppins", sans-serif
}
:root{
    --paddin-container: 100px 0;
    --color-title: #001A49;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--paddin-container);
}

.person{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;

}
.person::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,#000000 0%,#0000008c 100%) ,url(../img/306041-alexfas01.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 50% 16%, 100% 0, 100% 70%, 51% 100%, 0 75%);
    z-index: -1;

}
.nav{
    --pading-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav_title{
    font-weight: 300;

}
.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
   
}

.nav_items{
    list-style: none;

}
.nav_links{
    color: #fff;
    text-decoration: none;
}
.nav_menu{
    margin-left: 1%;
    cursor: pointer;
    
}

.nav_img{
    display: block;
    width: 30px;

}
.nav_close{
    display: var(--show , none);

}
.person-container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 180px ;
    text-align: center;
}
.person_title{
    font-size: 3rem;

}
.person-paragraph{
    margin-bottom: 20px;
}
.btn{
    display: inline-block;
    background-color: #2091f9;
    justify-self:center ;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}
.about{
    text-align: center;
}
.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}
.about_paragraph{
    line-height: 1.7;
}
.about_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit,minmax(260px, auto));
}
.about_icons{
    display: grid;
    gap: 1rem;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}
.about_icon{
    width: 40px;
}

